<div class="container">
    <app-username (userNameEvent)="userNameUpdate($event)" *ngIf="!userName"></app-username>
    <h1>Component Programming - Chat App</h1>
    <div class="chatbox__user-list">
        <h2>User List</h2>
        <div class="chatbox__user-active" *ngFor="let user of userList">
            <p>{{ user }}</p>
        </div>
        <br>
        <div class="message-list">
            <div class="chatbox__messages" *ngFor="let msg of messageList" [ngClass]="{mine: msg.mine}">
                <div class="user-message">
                    <div class="message-box">
                        <p class="name">{{msg.userName}}</p>
                        <p class="name">{{msg.message}}</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="text" [(ngModel)]="message">
    <button (click)="sendMessage()">Send</button>
</div>